* {
    /* Box model */
    box-sizing: border-box;
}

:root {
    /* Color */
    --primary-color: #ff5b2e;

    --nav-label-color: #5e6085;
    --nav-link-hover-color: #000958;
    --btn-color: #000958;
    --hero-list-item-title-color: #181e52;
    --heading-color: #000958;
    --desc-color: #656689;
    --check-tab-color: #48496a;
    --about-desc-color: #c6f4f9;
    --more-color: #ff5d31;
    --service-item-more-color: #34396a;

    /* Border */
    --btn-border: rgba(0, 9, 88, 0.7);
    --hero-img-wrap-border: #fad9dc;

    /* Background */
    --hero-img-wrap-bg: #fe997b;
    --hero-img-wrap-small: #faa7ad;
    --hero-list-item-separate: #f2f2f2;
    --about-card-bg: #5bd6e2;

    /* Font */
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Sora", san-serif;
}

html {
    /* Use trick to set 1 rem = 10px */
    font-size: 62.5%;
}

body {
    /* Font */
    font-size: 1.6rem;
    font-family: var(--primary-font);

    /* Color */
    background-color: #fff2e5;
}

/* Common */
a {
    /* Text */
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Font */
    font-family: var(--secondary-font);
}

input,
textarea,
select,
button {
    /* Font */
    font-size: inherit;
    font-family: inherit;
}

.container {
    /* Box model */
    width: 1170px;
    max-width: (100% - 48px);
    margin: 0 auto;
}

.btn {
    /* Variable */
    --height: 56px;

    /* Flex box */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid var(--btn-border);

    /* Text */
    color: var(--btn-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: var(--height);
}

/* .btn:hover { */
/* Visibility */
/* opacity: 0.7; */

/* User action */
/* cursor: pointer;
} */

.btn--primary {
    /* Color */
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    /* Flex box */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box model */
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);

    /* Color */
    background: #fff;
}

.section-heading {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-desc {
    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

/* Header  */
.header {
    /* Box model */
    padding: 26px 0;
}

.header__inner {
    /* Box model */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* Box model */
    width: 103px;
    height: 37.175px;

    /* Image */
    object-fit: cover;
}

.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link,
.header-action__link {
    /* Box model */
    padding: 8px;

    /* Color */
    color: var(--nav-label-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__link:hover {
    /* Text */
    color: var(--nav-link-hover-color);
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
    /* Box model */
    margin-top: 74px;
}

.hero__inner {
    /* Box model */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 121px;
}

.hero__img-wrap {
    /* Positioning */
    position: relative;

    /* Flex box */
    display: flex;

    /* Box model */
    width: 388px;
    height: 488px;
    border-radius: 16px;

    /* Color */
    background: var(--hero-img-wrap-bg);
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__media {
    /* Positioning */
    position: relative;

    /* Display */
    display: flex;

    /* Box model */
    padding-bottom: 94px;
}

.hero__img {
    /* Flex box */
    align-self: flex-end;

    /* Box model */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    /* Positioning */
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    /* Positioning */
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    /* Positioning */
    top: 16px;
    right: -43px;
}

.hero__img-wrap--small {
    /* Flex box */
    align-self: flex-end;

    /* Box model */
    width: 186px;
    height: 224px;
    margin: 0 0 -58px -24px;
    border: 2px solid var(--hero-img-wrap-border);

    /* Color */
    background: var(--hero-img-wrap-small);
}

.hero__list {
    /* Positioning */
    position: absolute;
    left: 129px;
    bottom: 0;

    /* Box model */
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;

    /* Color */
    background: #fff;

    /* Shadow */
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    /* Box model */
    width: 40px;
    height: 40px;
    border-radius: 10px;

    /* Color */
    background: #fec23f;

    /* Image */
    object-fit: cover;
}

.hero-list-item__info {
    /* Box model */
    margin-left: 10px;
}

.hero-list-item__title {
    /* Color */
    color: var(--hero-list-item-title-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-list-item__skeleton {
    /* Box model */
    width: var(--width, 118px);
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;

    /* Color */
    background: var(--btn-color);

    /* Visibility */
    opacity: 0.08;
}

.hero-list-item__separate {
    /* Box model */
    width: 100%;
    height: 2px;
    margin: 20px 0;
    border-radius: 99px;

    /* Color */
    background: var(--hero-list-item-separate);
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    /* Color */
    background: #c6e2fa;
}

.hero__heading {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
}

.hero__desc {
    /* Box model */
    margin-top: 24px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.hero__row {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    margin-top: 38px;
}

.hero__cta-btn {
    /* Variable */
    --height: 60px;

    /* Box model */
    min-width: 190px;

    /* Text */
    font-size: 1.6rem;

    /* Shadow */
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    /* Box model */
    margin-left: 24px;

    /* Color */
    color: var(--heading-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

/* About */
.about {
    /* Box model */
    margin-top: 100px;
    padding-top: 30px;
}

.about__inner {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    /* Color */
    color: var(--nav-label-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
}

.about__heading {
    /* Box model */
    margin-top: 15px;
}

.about__desc {
    /* Box model */
    margin-top: 24px;
}

.about__heading,
.about__desc {
    /* Box model */
    width: 444px;
}

.about__checklist {
    /* Box model */
    margin-top: 54px;

    /* Grid */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    /* Positioning */
    position: relative;

    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 10px;

    /* Color */
    color: var(--check-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.about__check-item::before {
    /* Pseudo content */
    content: "";

    /* Box model */
    display: inline-block;
    width: 24px;
    height: 24px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;

    /* Color */
    background: var(--primary-color);
}

.about__check-item::after {
    /* Positioning */
    position: absolute;
    top: 2px;
    left: 5px;

    /* Content */
    content: url(../icon/check.svg);
}

.about__media {
    /* Positioning */
    position: relative;
}

.about__media-decor {
    /* Positioning */
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__card {
    /* Positioning */
    position: absolute;
    top: 165px;
    left: 0;

    /* Box model */
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);

    /* Color */
    background: var(--about-card-bg);

    /* Text */
    text-align: center;
}

.about__card--title {
    /* Color */
    color: #fff;

    /* Text */
    font-family: var(--secondary-font);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
}

.about__card--desc {
    /* Box model */
    margin-top: 14px;

    /* Color */
    color: var(--about-desc-color);

    /* Text */
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__card-decor {
    /* Positioning */
    position: absolute;
    top: -40px;
    right: -30px;
}

.about__img--wrapper {
    /* Positioning */
    position: relative;
    margin-left: auto;

    /* Box model */
    width: 494px;
    border-radius: 16px;
}

.about__img--wrapper::after {
    /* Positioning */
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;

    /* Content */
    content: "";

    /* Box model */
    height: 336px;
    border-radius: 16px;

    /* Color */
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    /* Display */
    display: block;

    /* Box model */
    width: 450px;
    margin: 0 auto;

    /* Image */
    object-fit: cover;
}

.about__img--wrapper-bottom {
    /* Box model */
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);

    /* Color */
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.about__img--wrapper-bottom::after {
    /* Content */
    content: none;
}

.about__img-bottom {
    /* Box model */
    width: 100%;
}

.about__decor-img {
    /* Positioning */
    position: absolute;
}

.about__decor-img:nth-child(1) {
    /* Positioning */
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    /* Positioning */
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    /* Positioning */
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    /* Positioning */
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    /* Positioning */
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    /* Positioning */
    bottom: -39px;
    right: -23px;
}

.about__decor-img:nth-child(7) {
    /* Positioning */
    bottom: -46px;
    right: -32px;
}

.about__decor-img:nth-child(8) {
    /* Positioning */
    bottom: -54px;
    right: -42px;
}

.about__desc-bottom {
    /* Box model */
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    /* Positioning */
    position: relative;

    /* Flex box */
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    /* Positioning */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    /* Content */
    content: "";

    /* Box model */
    height: 2px;
    border-radius: 1px;

    /* Color */
    background: var(--primary-color);

    /* Visibility */
    opacity: 0.07;
}

.tab__item--active::after {
    /* Box model */
    width: 95px;

    /* Visibility */
    opacity: 1;
}

.tab__item {
    /* Positioning */
    position: relative;

    /* Box model */
    padding-bottom: 14px;

    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 12px;

    /* User action */
    cursor: pointer;
}

/* .tab__item:hover {
    opacity: 0.5;
} */

.tab__icon {
    /* Box model */
    width: 18px;

    /* Image */
    object-fit: cover;
}

.tab__title {
    /* Color */
    color: var(--check-tab-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
}

.tab__contents {
    /* Box model */
    padding-top: 36px;
}

.tab__content-item {
    /* Visibility */
    display: none;
}

.tab__content-item--active {
    /* Visibility */
    display: block;
}

.tab__content__desc {
    /* Box model */
    width: 391px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tab__content-more {
    /* Positioning */
    position: relative;

    /* Box model */
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;

    /* Color */
    color: var(--more-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
}

/* .tab__content-more:hover {
    opacity: 0.5;
} */

.tab__content-more::after {
    /* Box model */
    height: 1.5px;

    /* Visibility */
    opacity: 1;
}

/*============ Service ========== */
.service {
    /* Box model */
    margin-top: 190px;
    padding: 68px 0 100px 0;

    /* Color */
    background: #fff6ed;
}

.service__top {
    /* Box model */
    margin-top: 68px;

    /* Text */
    text-align: center;
}

.service__label {
    /* Box model */
    margin-bottom: 15px;

    /* Color */
    color: var(--nav-label-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
}

.service__body {
    /* Box model */
    margin-top: 71px;

    /* Grid layout */
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-item {
    /* Box model */
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);

    /* Color */
    background: #fff;
}

/* Gap between 2 service-item */
.service-item + .service-item {
    /* Box model */
    margin-top: 24px;
}

.service-item__heading {
    /* Positioning */
    position: relative;

    /* Box model */
    padding-left: 12px;

    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__heading::before {
    /* Positioning */
    position: absolute;
    inset: 0 auto 0 0;

    /* Display */
    display: inline-block;

    /* Content */
    content: "";

    /* Box model */
    width: 2px;
    height: 22px;

    /* Color */
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    /* Box model */
    margin: 18px 0 24px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Color */
    color: var(--service-item-more-color);

    /* Text */
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 400;
}

/* .service-item__more:hover { */
/* Visibility */
/* opacity: 0.7;
} */

.service-item__more::after {
    /* Content */
    content: url("../icon/arrow-up-right.svg");

    /* Box model */
    margin: 2px 0 0 5px;
}

.service__media {
    /* Positioning */
    position: relative;

    /* Box model */
    margin-top: 18px;
}

.service__media::after {
    /* Positioning */
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;

    /* Content */
    content: "";

    /* Box model */
    height: 350px;
    border-radius: 10px;

    /* Color */
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    /* Positioning */
    position: relative;
    z-index: 1;

    /* Display */
    display: block;

    /* Box model */
    width: 100%;
}

.service__cta-wrap {
    /* Flex box */
    display: flex;
    justify-content: center;

    /* Box model */
    margin-top: 45px;

    /* Visibility */
    opacity: 0.6;
}

.service__cta {
    /* Variable */
    --height: 56px;

    /* Box model */
    min-width: 214px;

    /* Color */
    color: var(--primary-color);
    border-color: currentColor;
}
